
body {
    font: 100% Lucida Sans;
    margin: 20px;
    line-height: 26px;
    background-size: cover;
}

.wrapper {
    position: relative;
}

.headline, .erklaerung, .footer, .menuitem {
    border-radius: 4px;
    margin: 4px;
}

.headline {
    background-color: #c70528;
    color: #ffffff;
    padding: 15px;
    font: 210% Impact;
}

.menu {
    width: 200px;
    float: left

}

.main {
    padding: 100px;
    margin: 0 210px;
}

.erklaerung {
    background-color: #0e6b37;
    color: #ffffff;
    padding: 10px;
    width: 220px;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
    font-size: larger;
}

.footer {
    border-radius: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    margin-top: 10%;
}

.headline h1, .headline p, .menulist {
    margin: 0;
    padding: 0;
}

.menulist {
    background-color: rgb(25, 144, 22);
    padding: 3px;
    color: white;
    text-align: center;
    font-size: large;}

.menuitem {
    background-color: #0e6b37;
    border: 1px solid #0ab721;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #0e6b37;
}

h1 {
    font: 410% Impact;
    padding: 10px
}


